<div class="column is-three-fifths is-offset-one-fifth">
  <p>
    <strong>Name:</strong>
    <%= @channel.name %>
  </p>

  <p>
    <strong>Webhook url:</strong>
    <%= @channel.webhook_url %>
  </p>
</div>
