<div class="column is-three-fifths is-offset-one-fifth">
  <p>
    <strong>Title:</strong>
    <%= @message.title %>
  </p>

  <p>
    <strong>Schedule:</strong>
    <%= @message.schedule %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= simple_format @message.body %>
  </p>

  <p>
    <strong>Channel:</strong>
    <%= link_to @message.channel.name, @message.channel %>
  </p>
</div>
